.header
{
	width:98%;
	display: flex;
	justify-content:space-between;
}

.header img
{
	width:24px;
	height:30px;
}

.dark
{
	background-color:#323232;
	color:#C8C8C8;
}

.light
{
	background-color:white;
	color:black;
}

#mouse
{
	/*border:solid 1px;*/
	width:200px;
}

/* ////////////////////////////////////////////////////////////// */

input, div, button
{
	font-size: 24px;
	width: 24px;
}

input
{
	text-align: right;
}

.task
{
	width: 100%;
	display: flex;
	align-items: center;
}

.result
{
	width: 50%;
}

.pair
{
	text-align: right;
}

label
{
	width: 50%;
}

#factorial-result
{
	overflow: scroll;
	width: 100%;
	height: 400px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

.images-and-colors
{
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.image-container
{
	border: solid 1px;
	/*width:400px;
    height:300px;*/
}

#image, .image-container
{
	width: 400px;
	height: 300px;
}

.select-color
{
	display: flex;
	justify-content: space-between;
	margin: 12px;
}
