@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body 
{
    font-family:'Roboto Condensed';
    font-size:20px;
    padding:2% 5%;
}
p 
{
    text-align:justify;
    text-indent:48px;
}
    p::first-letter
    {
        font-size:32px;
    }
figure 
{
    text-align: center;
    font-style:italic;
    font-weight:100;
}
ul
{
    list-style:none;
}
a
{
    text-decoration:none;
}
a:hover
{
    font-weight:800;
    background-color:lightblue;
    color:red;
}
a:active
{
    color:green;
}
a:visited
{
    color:darkgreen;
}
:target
{
    background-color:limegreen;
}
    :target ~ div
    {
        /*background-color:#ABABAB;*/
        border-radius: 15px;
        box-shadow: 0 0 25px 25px lightgray;
    }
div 
{
    padding: 16px;
}